<ion-row class="wrapper">
  <ion-col>
    <app-post></app-post>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="6">
    <ion-button (click)="showFollowing = false; showFollowers = !showFollowers"
                class="text-color-black"
                [ngClass]="[
               showFollowers ? 'button-activated' : '',
              ]"
                fill="clear" expand="block">Followers</ion-button>
  </ion-col>
  <ion-col size="6">
    <ion-button (click)="showFollowers = false; showFollowing = !showFollowing"
                class="text-color-black"
                [ngClass]="[
               showFollowing ? 'button-activated' : '',
              ]"
                fill="clear" expand="block">Following</ion-button>
  </ion-col>
</ion-row>

<ion-row *ngIf="tweets.length > 0 && !showFollowers && !showFollowing" >
  <ion-col>
    <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
  </ion-col>
</ion-row>

<ion-row *ngIf="showFollowers">
  <ion-col>
    <app-users-list [userList]="followers" [loadUsersList]="false"> </app-users-list>
  </ion-col>
</ion-row>

<ion-row *ngIf="showFollowers && !followersLoadingComplete">
  <ion-col>
    <ion-infinite-scroll (ionInfinite)="loadNextFollowers($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-col>
</ion-row>

<ion-row *ngIf="showFollowing">
  <ion-col>
    <app-users-list [userList]="followings" [loadUsersList]="false"> </app-users-list>
  </ion-col>
</ion-row>

<ion-row *ngIf="showFollowing && !followingsLoadingComplete">
  <ion-col>
    <ion-infinite-scroll (ionInfinite)="loadNextFollowings($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-col>
</ion-row>

<ion-row *ngIf="tweets.length > 0 && !showFollowers && !showFollowing" >
  <ion-col>
    <ion-infinite-scroll (ionInfinite)="loadNextTweets($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-col>
</ion-row>
